* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  background-color: #181814;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
}

.brand-title {
  margin: 0.2rem;
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
@font-face {
  font-family: "AshteR";
  src: url(../Fonts/AshteR.ttf);
}

a {
  text-decoration: none;
  color: black;
}
p {
  color: black;
}
.container {
  max-width: 1300px;
  /* margin: auto; */
  /* padding-left: 25px;
  padding-right: 25px; */
}
.icon {
  display: flex;
  align-items: center;
}

/* form {
  width: 176px;
  align-content: center;
  border: 2px solid black;
  border-radius: 5px;
}
.form-control {
  height: 30px;
  /* width: 107px; 
  border: none;
  width: 49%;
  background-color: #f2f2f2;
}
.form-control:hover {
  border-color: #f2f2f2;
} */
.button-2 {
  border: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  border: none;
  border: 1px solid grey;
  background-color: grey;
  cursor: pointer;
}
/* nav ul {
  display: inline-block;
  list-style-type: none;
  margin-left: 242px;
}
nav ul li {
  display: inline-block;
  margin-left: 10px;
} */

a {
  text-decoration: none;
  color: #181819;
  transition: ease-out 0.3s;
}

p {
  color: black;
}
.container {
  margin: auto;
  /* padding-left: 25px;
  padding-right: 25px; */
}
.icon {
  display: flex;
  /* width: ; */
  /* font-family: "AshteR", "Times New Roman", Times, serif; */
}
.logo {
  color: #f2f2f2;
}

.form {
  margin: 49px 0px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.ad {
  /* max-width: 1080px; */
  /* margin: auto; */
  margin-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
}
.ads {
  text-align: center;
  margin-top: 57px;
}
.ads > h2 {
  align-items: center;
  padding: 5px 150px;
}

body {
  background-color: #f2f2f2;
}

.footer-1 {
  display: flex;
  height: 250px;
  align-content: center;
  padding: 70px 200px;
  background-color: #181814;
  background: transparent transparent;
  margin-top: 30px;
}
.pics {
  object-fit: contain;
  width: 25%;
}
.pics > img {
  /* object-fit: cover; */
}
@font-face {
  font-family: "AshteR";
  src: url(../Fonts/AshteR.ttf);
}
.kl {
  margin: 40px;
  color: #f2f2f2;
}

.kl > p {
  color: #f2f2f2;
}
.kl > h3 {
  margin-bottom: 20px;
}

.hamburger {
  display: none;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  /*flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;*/
}

.mobile-menu {
  display: none;
}
.hamburger div {
  display: none;
}

.footer-1 {
  height: 258px;
  align-content: center;
  padding: 22px 200px;
  background-color: #181814;
  background: transparent transparent;
  margin-top: 30px;
}
.foot {
  display: flex;
}
.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.css-118najv {
  color: #f2f2f2;
}
@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  /* .link.active {
    left: 0;
  } */
  .form {
    margin: 49px 20px;
    display: block;
  }
  .col2 > img {
    max-width: 400px;
    padding: 50px 0;
    width: 99%;
    object-fit: contain;
    margin-left: 17px;
  }
  .link {
    display: none;
  }
  .footer-1 {
    display: block;
    height: 709px;
    /* align-content: center; */
    padding: 26px 7px;
    background-color: #181814;
    background: transparent transparent;
    margin-top: 45px;
  }

  .footer-1 {
    height: 750px;
    /* align-content: center; */
    padding: 26px 7px;
    background-color: #181814;
    margin-top: 45px;
  }
  .foot {
    display: block;
  }
  .body-1 {
    display: block;
  }
  .open-ul {
    display: block;
  }

  .pics {
    object-fit: contain;
    width: 100%;
    /* height: 60vh;
    margin: 0px 5px; */
  }
  .ads {
    padding-left: 25px;
    padding-right: 25px;
  }
  .ads > h2 {
    align-items: center;
    padding: 5px 0px;
  }
}
