* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "AshteR";
  src: url(../Fonts/AshteR.ttf);
}
.header {
  /* background-color: #3ab0ff; */
}
.body-1 {
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
body {
  background-color: #f2f2f2;
}
nav {
  /* flex: 1; */
  text-align: right;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  margin-left: 300px;
  width: 100%;
}
form {
  min-width: 200px;
  align-content: center;
  border: 2px solid black;
  border-radius: 10px;
}
.form-control {
  height: 30px;
  width: 107px;
  border: none;
  padding: 5px;
  width: 70%;
  background-color: #f2f2f2;
}
.form-control:hover {
  border-color: #f2f2f2;
}
.button-2 {
  border: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  border: none;
  border: 1px solid grey;
  background-color: grey;
}
nav ul {
  display: inline-block;
  list-style-type: none;
  margin-left: 150px;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: black;
}
p {
  color: black;
}
.container {
  /* max-width: 1300px; */
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.icon {
  display: flex;
  /* width: ; */
  font-family: "AshteR", "Times New Roman", Times, serif;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.col2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col2 > img {
  /* max-width: 100%; */
  padding: 50px 0;

  width: 100%;
  height: 100vh;

  object-fit: contain;
}
.col1 h1 {
  font-size: 100px;
  line-height: 60px;
  margin: 25px 0;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 100px;
  font-family: "AshteR", "Times New Roman", Times, serif;
}
.button-1 {
  width: 100px;
  height: 40px;
  background-color: black;
  border: 2px solid white;
  margin-top: 13px;
  color: #3ab0ff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  transition: background 0.5s;
}

button:hover {
  background: gray;
}

.categories {
  margin: 50px 0;
}

.col3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col3 > img {
  width: 100%;
}

.small-container {
  /* max-width: 1080px; */
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  margin: 10px;
  color: #f2f2f2;
}

.col4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  color: #181814;
}
.col5 > p {
  color: #f2f2f2;
}
.title2 {
  text-align: center;
  color: #181814;
}
.row-1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.offer {
  padding: 70px 200px;
  background-color: #181814;
  background: transparent transparent;
  margin-top: 30px;
}
/* height: 150px; */

.footer-1 {
  display: flex;
  height: 150px;
  align-content: center;

  /* background-color: #181814; */
}

.kl {
  margin: 50px;
  color: #f2f2f2;
}

.kl > p {
  color: #f2f2f2;
}
.kl > h3 {
  margin-bottom: 20px;
}
