* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
@font-face {
  font-family: "AshteR";
  src: url(../Fonts/AshteR.ttf);
}

a {
  text-decoration: none;
  color: black;
}
p {
  color: black;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.icon {
  display: flex;
}

form {
  width: 176px;
  align-content: center;
  border: 2px solid black;
  border-radius: 5px;
}
.form-control {
  height: 30px;
  /* width: 107px; */
  border: none;
  width: 46%;
  background-color: #f2f2f2;
}
.form-control:hover {
  border-color: #f2f2f2;
}
.button-2 {
  border: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  border: none;
  border: 1px solid grey;
  background-color: grey;
  cursor: pointer;
}
nav ul {
  display: inline-block;
  list-style-type: none;
  margin-left: 242px;
}
nav ul li {
  display: inline-block;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
}
p {
  color: black;
}
.container {
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.icon {
  display: flex;
  /* width: ; */
  /* font-family: "AshteR", "Times New Roman", Times, serif; */
}
.logo {
  /* display: none; */
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.col2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col2 > img {
  max-width: 400px;
  padding: 50px 0;
  width: 46%;
  object-fit: contain;
  margin-left: 314px;
}
.col1 h1 {
  font-size: 100px;
  line-height: 60px;
  margin: 25px 0;
  font-weight: 600;
  letter-spacing: 5px;
  line-height: 100px;
  font-family: "AshteR", "Times New Roman", Times, serif;
}
.button-1 {
  cursor: pointer;
  width: 100px;
  height: 40px;
  background-color: black;
  border: 2px solid white;
  margin-top: 13px;
  color: #3ab0ff;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  transition: background 0.5s;
}

button:hover {
  background: #f2f2f2;
  color: #000;
}

.categories {
  margin: 50px 0;
}

.col3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col3 > img {
  width: 100%;
}

.small-container {
  /* max-width: 1080px; */
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
  margin: 10px;
  color: #f2f2f2;
}

.col4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  color: #181814;
}
.col5 > p {
  color: #f2f2f2;
}
.title2 {
  text-align: center;
  color: #181814;
}
.row-1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.offer {
  padding: 70px 200px;
  background-color: #181814;
  background: transparent transparent;
  margin-top: 30px;
}
/* height: 150px; */

.footer-1 {
  display: flex;
  height: 150px;
  align-content: center;

  /* background-color: #181814; */
}

.kl {
  margin: 50px;
  color: #f2f2f2;
}

.kl > p {
  color: #f2f2f2;
}
.kl > h3 {
  margin-bottom: 20px;
}

.hamburger {
  display: none;
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  /*flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;*/
}

.mobile-menu {
  display: none;
}
.hamburger div {
  display: none;
}

@media screen and (max-width: 500px) {
  .hamburger {
    display: block;
  }
  .hamburger div {
    display: block;
    height: 3px;
    width: 25px;
    background-color: #181819;
    margin: 5px auto;

    transition: 0.4s;
  }
  .open.mobile-menu {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    height: 50vh;
    width: 86%;
    background-color: #f2f2f2;
    color: #000;
    font-size: 1.5rem;
    padding: 2rem;
    /* z-index: 1; */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  .open .bar2 {
    opacity: 0;
  }

  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px);
    transform: rotate(45deg) translate(-6px, -8px);
  }

  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 2px 2px 4px black;
    width: 158px;
  }

  .open a {
    text-decoration: none;
  }

  .link {
    display: none;
  }
  .nav-link {
    margin: 16px 0;
  }
  /* .link.active {
    left: 0;
  } */

  form {
    width: 156px;
    align-content: center;
    border: 2px solid black;
    border-radius: 5px;
  }
  .col2 > img {
    max-width: 400px;
    padding: 50px 0;
    width: 99%;
    object-fit: contain;
    margin-left: 17px;
  }

  .offer {
    padding: 70px 21px;
    background-color: #181814;
    background: transparent transparent;
    margin-top: 30px;
    height: 170vh;
  }

  .small-container {
    /* max-width: 1080px; */
    margin: auto;
    padding: 0px;
    color: #f2f2f2;
  }
  .col5 {
    margin-left: 17px;
  }
  .footer-1 {
    display: block;
  }
  .body-1 {
    display: block;
  }
  .open ul {
    list-style-type: none;
  }
  nav {
    /* flex: 1; */
    text-align: right;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: flex;
    align-items: center;
    margin-left: 30px;
    width: 70%;
  }
}
